<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimoom.pplay.dao.SysUserMapper">
	<resultMap type="com.yimoom.pplay.domain.sys.SysUser" id="UserMap">
		<id property="uid" column="Uid" />
		<result property="name" column="Name" />
		<result property="account" column="Account" />
		<result property="nickName" column="NickName" />
		<result property="password" column="Password" />
		<result property="icon" column="Icon" />
		<result property="gender" column="Gender" />
		<result property="age" column="Age" />
		<result property="phoneNo" column="PhoneNo" />
		<result property="mail" column="Mail" />
		<result property="createDate" column="CreateDate" />
		<result property="version" column="Version" />
		<result property="status" column="Status" />
		<result property="remark" column="Remark" />
		<result property="orderNo" column="OrderNo" />
		<result property="onlineStatus" column="OnlineStatus" />
		<result property="lastAccessTime" column="LastAccessTime" />
	</resultMap>

	<!-- 包含角色信息的map -->
	<resultMap type="com.yimoom.pplay.domain.sys.SysUser" id="UserLoginMap">
		<id property="uid" column="Uid" />
		<result property="name" column="Name" />
		<result property="account" column="Account" />
		<result property="nickName" column="NickName" />
		<result property="password" column="Password" />
		<result property="icon" column="Icon" />
		<result property="gender" column="Gender" />
		<result property="age" column="Age" />
		<result property="phoneNo" column="PhoneNo" />
		<result property="mail" column="Mail" />
		<result property="createDate" column="CreateDate" />
		<result property="version" column="Version" />
		<result property="status" column="Status" />
		<result property="remark" column="Remark" />
		<result property="orderNo" column="OrderNo" />
		<result property="onlineStatus" column="OnlineStatus" />
		<result property="lastAccessTime" column="LastAccessTime" />
		<collection property="list" ofType="com.yimoom.pplay.domain.sys.SysRole"
			javaType="ArrayList">
			<result column="Rid" property="rid" jdbcType="VARCHAR" />
			<result column="Description" property="description"
				jdbcType="VARCHAR" />
			<result column="Role_Name" property="roleName"
				jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	<!-- 根据账号来获取用户信息 -->
	<select id="findByUserName" parameterType="String"
		resultMap="UserMap">
		select Uid,Name,Account,Password,Icon,NickName,Gender,Age,PhoneNo,Mail,CreateDate,Version,
		Status,Remark,OrderNo,OnlineStatus,LastAccessTime from Sys_User where account=#{account}
	</select>
	<!-- 根据账号来获取用户信息 -->
	<select id="findRoleByAccount" parameterType="String"
		resultMap="UserLoginMap">
		select u.*,r.rid,r.Description,r.Role_Name from
		Sys_User
		u,Sys_user_role
		ur,Sys_role r
		where u.uid=ur.uid
		and ur.rid=r.rid
		and
		u.account=#{account}
	</select>

	<!--根据主键获取对象 -->
	<select id="getUserById" parameterType="com.yimoom.pplay.domain.sys.SysUser" resultMap="UserMap">
		select u.*
		from Sys_User u
		WHERE u.uid=#{uid}
	</select>
	<!--统计 -->
	<!-- where 元素只会在至少有一个子元素的条件返回 SQL 子句的情况下才去插入“WHERE”子句。而且，若语句的开头为“AND”或“OR”，where元素也会将它们去除。 -->

	<select id="getUserCount" parameterType="com.yimoom.pplay.domain.sys.SysUser" resultType="int">
		SELECT count(*) FROM Sys_User
		<where>
			<if test=" uid != null and uid != ''"> And Uid=#{uid}, </if>
			<if test=" name != null and name != ''"> And Name=#{name}, </if>
			<if test=" account != null and account != ''"> And Account=#{account}, </if>
			<if test=" nickName != null and nickName != ''"> And Password=#{nickName}, </if>
			<if test=" password != null and password != ''"> And Icon=#{password}, </if>
			<if test=" icon != null and icon != ''"> And NickName=#{icon}, </if>
			<if test=" gender != null and gender != ''"> And Gender=#{gender}, </if>
			<if test=" age != null and age != ''"> And Age=#{age}, </if>
			<if test=" phoneNo != null and phoneNo != ''"> And PhoneNo=#{phoneNo}, </if>
			<if test=" mail != null and mail != ''"> And Mail=#{mail}, </if>
			<if test=" createDate != null and createDate != ''"> And CreateDate=#{createDate}, </if>
			<if test=" version != null and version != ''"> And Version=#{version}, </if>
			<if test=" status != null and status != ''"> And Status=#{status}, </if>
			<if test=" remark != null and remark != ''"> And Remark=#{remark}, </if>
			<if test=" orderNo != null and orderNo != ''"> And OrderNo=#{orderNo}, </if>
			<if test=" onlineStatus != null and onlineStatus != ''"> And OnlineStatus=#{onlineStatus}, </if>
			<if test=" lastAccessTime != null and lastAccessTime != ''"> And LastAccessTime=#{lastAccessTime} </if>
		</where>
	</select>
	<!-- 根据对象查询 -->
	<select id="getUser" resultMap="UserMap" parameterType="com.yimoom.pplay.domain.sys.SysUser">
		select
		Uid,Name,Account,Password,Icon,NickName,Gender,Age,PhoneNo,Mail,CreateDate,Version,
		Status,Remark,OrderNo,OnlineStatus,LastAccessTime
		FROM Sys_User
		<where>
			<if test=" uid != null and uid != ''"> And Uid=#{uid}, </if>
			<if test=" name != null and name != ''"> And Name=#{name}, </if>
			<if test=" account != null and account != ''"> And Account=#{account}, </if>
			<if test=" nickName != null and nickName != ''"> And Password=#{nickName}, </if>
			<if test=" password != null and password != ''"> And Icon=#{password}, </if>
			<if test=" icon != null and icon != ''"> And NickName=#{icon}, </if>
			<if test=" gender != null and gender != ''"> And Gender=#{gender}, </if>
			<if test=" age != null and age != ''"> And Age=#{age}, </if>
			<if test=" phoneNo != null and phoneNo != ''"> And PhoneNo=#{phoneNo}, </if>
			<if test=" mail != null and mail != ''"> And Mail=#{mail}, </if>
			<if test=" createDate != null and createDate != ''"> And CreateDate=#{createDate}, </if>
			<if test=" version != null and version != ''"> And Version=#{version}, </if>
			<if test=" status != null and status != ''"> And Status=#{status}, </if>
			<if test=" remark != null and remark != ''"> And Remark=#{remark}, </if>
			<if test=" orderNo != null and orderNo != ''"> And OrderNo=#{orderNo}, </if>
			<if test=" onlineStatus != null and onlineStatus != ''"> And OnlineStatus=#{onlineStatus}, </if>
			<if test=" lastAccessTime != null and lastAccessTime != ''"> And LastAccessTime=#{lastAccessTime} </if>
		</where>
	</select>
	<!-- 根据特定条件查询对象 -->
	<select id="SearchUser" resultType="com.yimoom.pplay.domain.sys.query.QuerySysUser" parameterType="com.yimoom.pplay.domain.sys.query.QuerySysUser">
		select
		su.Uid,su.Name,su.Gender,sr.role_name,su.PhoneNo,su.Mail,su.LastAccessTime,su.version,su.status
		FROM Sys_User su,sys_role sr,sys_user_role sur
		<where>
			su.uid=sur.uid and sr.rid=sur.rid
			<if test=" name != null and name != ''"> And su.Name=#{name}, </if>
			<if test=" gender != null and gender != ''"> And su.Gender=#{gender}, </if>
			<if test=" roleName != null and roleName != ''"> And sr.Role_Name=#{roleName}, </if>
		</where>
	</select>
	<!--分页查询-->
	<select id="findByPage" parameterType="com.yimoom.pplay.domain.sys.query.QuerySysUser" resultMap="UserMap">
		select Uid,Name,Account,Password,Icon,NickName,Gender,Age,PhoneNo,Mail,CreateDate,Version,
		Status,Remark,OrderNo,OnlineStatus,LastAccessTime
       FROM Sys_User 
		<where>
			<if test=" uid != null and uid != ''"> And Uid=#{uid}, </if>
			<if test=" name != null and name != ''"> And Name=#{name}, </if>
			<if test=" account != null and account != ''"> And Account=#{account}, </if>
			<if test=" nickName != null and nickName != ''"> And Password=#{nickName}, </if>
			<if test=" password != null and password != ''"> And Icon=#{password}, </if>
			<if test=" icon != null and icon != ''"> And NickName=#{icon}, </if>
			<if test=" gender != null and gender != ''"> And Gender=#{gender}, </if>
			<if test=" age != null and age != ''"> And Age=#{age}, </if>
			<if test=" phoneNo != null and phoneNo != ''"> And PhoneNo=#{phoneNo}, </if>
			<if test=" mail != null and mail != ''"> And Mail=#{mail}, </if>
			<if test=" createDate != null and createDate != ''"> And CreateDate=#{createDate}, </if>
			<if test=" version != null and version != ''"> And Version=#{version}, </if>
			<if test=" status != null and status != ''"> And Status=#{status}, </if>
			<if test=" remark != null and remark != ''"> And Remark=#{remark}, </if>
			<if test=" orderNo != null and orderNo != ''"> And OrderNo=#{orderNo}, </if>
			<if test=" onlineStatus != null and onlineStatus != ''"> And OnlineStatus=#{onlineStatus}, </if>
			<if test=" lastAccessTime != null and lastAccessTime != ''"> And LastAccessTime=#{lastAccessTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by uid desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


	<!--保存 -->
	<insert id="save" parameterType="com.yimoom.pplay.domain.sys.SysUser"
		useGeneratedKeys="true" keyProperty="uid">
		INSERT INTO
		Sys_User(
		Name,
		Account,
		Password,
		Icon,
		NickName,
		Gender,
		Age,
		PhoneNo,
		Mail,
		CreateDate,
		Version,
		Status,
		Remark,
		OrderNo,
		OnlineStatus,
		LastAccessTime
		)
		VALUES(
		#{name},
		#{account},
		#{nickName},
		#{password},
		#{icon},
		#{gender},
		#{age},
		#{phoneNo},
		#{mail},
		#{createDate},
		#{version},
		#{status},
		#{remark},
		#{orderNo},
		#{onlineStatus},
		#{lastAccessTime}
		)
	</insert>

	<!--修改 -->
	<update id="update" parameterType="com.yimoom.pplay.domain.sys.SysUser">
		UPDATE Sys_User
		<set>
			<if test="name != null and name != ''">Name=#{name}, </if>
			<if test="account != null and account != ''">Account=#{account}, </if>
			<if test="nickName != null and nickName != ''">Password=#{nickName}, </if>
			<if test="password != null and password != ''">Icon=#{password}, </if>
			<if test="icon != null and icon != ''">NickName=#{icon}, </if>
			<if test="gender != null and genfer != ''">Gender=#{gender}, </if>
			<if test="age != null and age != ''">Age=#{age}, </if>
			<if test="phoneNo != null and phoneNo != ''">PhoneNo=#{phoneNo}, </if>
			<if test="mail != null and mail != ''">Mail=#{mail}, </if>
			<if test="createDate != null and createDate != ''">CreateDate=#{createDate}, </if>
			<if test="version != null and version != ''">Version=#{version}, </if>
			<if test="status != null and status != ''">Status=#{status}, </if>
			<if test="remark != null and remark != ''">Remark=#{remark}, </if>
			<if test="orderNo != null and orderNo != ''">OrderNo=#{orderNo}, </if>
			<if test="onlineStatus != null and onlineStatus != ''">OnlineStatus=#{onlineStatus}, </if>
			<if test="lastAccessTime != null and lastAccessTime != ''">LastAccessTime=#{lastAccessTime} </if>
		</set>
		WHERE Uid=#{uid}
	</update>

	<!--删除 -->
	<delete id="delete" parameterType="com.yimoom.pplay.domain.sys.SysUser">
		DELETE FROM Sys_User WHERE
		id=#{uid}
	</delete>
	<!-- 批量删除 -->
	<delete id="batchRemove"  parameterType="ArrayList">
		delete from Sys_User where uid in
		<foreach item="userId" collection="array" open="("
			separator="," close=")">
			#{userId}
		</foreach>
	</delete>

</mapper>
